@charset "UTF-8";

h2 { text-align: center; }
hr { border: solid 2px lightgray; width: 60%;  }
th { text-align: center !important; }



.contents {
	margin-top : 170px !important;
	height: 80% !important;
}
#joinForm {
	margin: 0 auto; 
    width: 60%;
}
#joinCancel, #joinResult {
	text-align: center;
	margin: 10px;
}
.chkMessage {
	text-align: center;	
}