@charset "UTF-8";

h2 { text-align: center; }
hr { border: solid 1px lightgray !important; width: 1000px !important;  }
th { text-align: center !important; }


.contents {
	margin-top : 150px !important;
	height: 80% !important;
}
#joinForm {
	margin: 0 auto; 
    width: 60%;
}
#joinCancel, #joinResult {
	text-align: center;
	margin: 10px;
}
.chkMessage {
	text-align: center;	
}
#eventRegister, #eventCancel, #eventList, #eventModify, #eventApply, #eventDelete {
	margin-right: 5%; width: 10%; height: 35px;
}