<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjnresort.mapper.EventMapper">

	

	<update id="update">
		UPDATE tbl_board
		SET title = #{title}, 
		content = #{content}, 
		writer = #{writer}, 
		updateDate = sysdate
		WHERE bno = #{bno}
	</update>

	<delete id="delete">
		DELETE FROM tbl_board WHERE bno = #{bno}
	</delete>

	<select id="read" resultType="com.kjnresort.domain.EventVO">
		SELECT * FROM tbl_board WHERE bno = #{bno}
	</select>

	<update id="updateReplyCnt">
		UPDATE tbl_board SET replycnt = replycnt + #{amount} WHERE bno = #{bno}
	</update>
	
	
	
	
	<!-- ///////////////////////////////////////// -->
	
	
	<!-- 이벤트 게시글 전체개수 가져오기 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM t_event
	</select>
	
	
	
	<!-- 이벤트 게시글 목록 가져오기 -->
	<select id="getListWithPaging" resultType="com.kjnresort.domain.EventVO">
		<![CDATA[
		SELECT *
		FROM(
			SELECT /*+INDEX_DESC(t_event SYS_C0011827)*/
				ROWNUM rn, eventNo, id, title, eventStart, eventEnd, viewCnt
			FROM t_event
			WHERE
			ROWNUM <= #{pageNum} * #{amount}
		)
		WHERE rn > (#{pageNum}-1) * #{amount}
		]]>
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="eventNo" order="BEFORE" resultType="long">	<!-- insert 하기 전에 할 것이니까 BEFORE, bno의 타입이 long -->
			SELECT seq_t_event.NEXTVAL FROM dual
		</selectKey>
		
		
		INSERT INTO t_event(eventNo, id, title, eventStart, eventEnd)
		VALUES(#{eventNo}, #{id}, #{eventTitle}, #{eventStart}, #{eventEnd})
	</insert>
	
	
</mapper>