<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kjnresort.mapper.ReviewMapper">

	 <!-- 쿼리 보관 -->
  <sql id="criteria">
  	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="typeArr" item='type'>
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title 	LIKE '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content	LIKE '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer 	LIKE '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>		
		</trim>
  </sql>
   
  <select id="getListWithPaging" resultType="com.kjnresort.domain.ReviewVO">
   <![CDATA[
    SELECT  * 
    FROM 	( SELECT /*+INDEX_DESC(t_review SYS_C007976) */ 
    				 rownum rn, reviewNo, id, title, content, 
    				 regdate, viewCnt, category, grade, useNo
    		  FROM   t_review
    		  WHERE  
   ]]>
		<!-- 보관해 둔 쿼리 사용 -->
		<include refid="criteria"></include>
   <![CDATA[ 		  
    		  rownum <= #{pageNum} * #{amount} )
    WHERE   rn > (#{pageNum} -1) * #{amount}
    
   ]]> 		  
  </select>
  
  
  <!-- 내가 쓴 후기 목록 -->
  <select id="getMyListWithPaging" resultType="com.kjnresort.domain.ReviewVO">
   <![CDATA[
    SELECT  * 
    FROM 	( SELECT /*+INDEX_DESC(t_review SYS_C0012802) */ 
    				 ROWNUM rn, reviewNo, category, title, id, regdate, viewCnt
    		  FROM   t_review
    		  WHERE  
   ]]>
		(id = #{id}) AND
   <![CDATA[ 		  
    		  rownum <= #{pageNum} * #{amount} )
    WHERE   rn > (#{pageNum} -1) * #{amount}
   ]]> 		  
  </select>
  
  
  <!-- 내가 쓴 후기 전체개수 -->
  <select id="getMyTotalCount" resultType="int">
   <![CDATA[
    SELECT COUNT(*) FROM t_review
    WHERE 
   ]]> 	
		(id 	LIKE '%'||#{id}||'%') AND
   <![CDATA[  reviewNo > 0
   ]]>
  </select>
  
  
  
  
  <select id="getTotalCount" resultType="int">
   <![CDATA[
    SELECT COUNT(*) FROM t_review
    WHERE 
   ]]> 	<!-- 보관해 둔 쿼리 사용 -->
		<include refid="criteria"></include>
   <![CDATA[  reviewNo > 0
   ]]>
  </select>
 
  <update id="update">
    UPDATE 	t_review
    SET		title = #{title}, content = #{content}, 
    		category = #{category}, grade = #{grade}
    WHERE 	reviewNo = #{reviewNo}
  </update>
  
  <update id="updateTReview">
    UPDATE 	t_ticket_buy
    SET		review = 1
    WHERE 	ticketNo = #{ticketNo}
  </update>
  
  <delete id="delete">
    DELETE t_review WHERE reviewNo = #{reviewNo}
  </delete>
  
  <select id="read" resultType="com.kjnresort.domain.ReviewVO">
    SELECT * FROM t_review WHERE reviewNo = #{reviewNo}
  </select>
    
  <insert id="insert">
  
  <selectKey keyProperty="reviewNo" order="BEFORE" resultType="long">	<!-- insert 하기 전에 할 것이니까 BEFORE, bno의 타입이 long -->
			SELECT seq_t_review.NEXTVAL FROM dual
		</selectKey>
  
  	INSERT INTO t_review(reviewNo, id, title, content, regdate, category, grade, useNo)
	VALUES(#{reviewNo}, #{id}, #{title}, #{content}, sysdate, #{category}, #{grade}, #{useNo})
  </insert>

  <select id="getList" resultType="com.kjnresort.domain.ReviewVO">
  <![CDATA[
    SELECT * FROM t_review WHERE reviewNo > 0
  ]]>
  </select>
  
  <update id="updateViewCnt">
	UPDATE t_review
	SET viewCnt = viewCnt + 1
	WHERE reviewNo = #{reviewNo}
</update>
  
</mapper>