<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kjnresort.mapper.TicketMapper">
	
	<!-- 쿼리 보관 -->	  
	<sql id="criteria">
  		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="typeArr" item='type'>
				<trim prefix="OR">						
					<choose>
						<when test="type == 'T'.toString()">
							id 	LIKE '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							ticketNo	LIKE '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>		
		</trim>
	</sql>
	
	<select id="getListWithPaging" resultType="com.kjnresort.domain.TicketBuyVO">
     <![CDATA[
      SELECT  * 
      FROM 	  ( SELECT /*+INDEX_DESC(t_ticket_buy pk_ticket) */ 
    				   rownum rn, ticketNo, id, buyDate, liftAmount, 
    			  	   toolAmount, status, review
    		    FROM   t_ticket_buy
    		    WHERE  
     ]]>
	  	  <!-- 보관해 둔 쿼리 사용 -->
	  	  <include refid="criteria"></include>
     <![CDATA[ 		  
    		    rownum <= #{pageNum} * #{amount} )
      WHERE   rn > (#{pageNum} -1) * #{amount}
      ORDER BY ticketNo DESC
     ]]> 		  
    </select>
    
    <select id="getTotalCount" resultType="int">
     <![CDATA[
      SELECT COUNT(*) FROM t_ticket_buy
      WHERE 
     ]]> 	<!-- 보관해 둔 쿼리 사용 -->
	      <include refid="criteria"></include>
     <![CDATA[  ticketNo > 0
     ]]>
    </select>
    
    <select id="getListWithPagingUser" resultType="com.kjnresort.domain.TicketBuyVO">
     <![CDATA[
      SELECT  * 
      FROM 	  t_ticket_buy
      WHERE   id = #{id}   
      ORDER BY ticketNo DESC
     ]]> 		  
    </select>
    
    <select id="getTotalCountUser" resultType="int">
      SELECT COUNT(*) FROM t_ticket_buy
      WHERE  id = #{id}
    </select>
	
	<update id="updateL">
	    UPDATE 	t_ticket 
	    SET		price = #{price}
	    WHERE 	type = #{type}
  	</update>
  	
  	<update id="updateStatus">
	    UPDATE 	t_ticket_buy 
	    SET		status = 1
	    WHERE 	ticketNo = #{ticketNo}
  	</update>
  	
  	<update id="updateStatusUse">
	    UPDATE 	t_ticket_buy 
	    SET		status = 2
	    WHERE 	ticketNo = #{ticketNo}
  	</update>
	
	<insert id="insert">
		insert into t_ticket_buy
	    values (SEQ_T_TICKET_BUY.nextval, #{id}, #{type}, sysdate, #{liftAmount}, #{toolAmount}, 0, 0,  #{totalPrice})
	</insert>
	
	<select id="getMaxTicketNo" resultType="long">
		select max(ticketno) from t_ticket_buy
	</select>
	
	<select id="read" resultType="com.kjnresort.domain.TicketBuyVO">
		<![CDATA[
			SELECT * FROM t_ticket_buy where ticketNo = #{ticketNo}
		]]>	
	</select>
	
	<select id="readMember" resultType="com.kjnresort.domain.MemberVO">
		<![CDATA[
			SELECT * FROM t_member where id = #{id}
		]]>	
	</select>
	
	<select id="readPrice" resultType="com.kjnresort.domain.TicketVO">	
			SELECT price FROM t_ticket where type = 'lift'
	</select>
	
	<select id="readPriceT" resultType="com.kjnresort.domain.TicketVO">	
			SELECT price FROM t_ticket where type = 'tool'
	</select>
	
</mapper>